@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900italic);
*
{
	margin:0;
	padding:0;
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: moz-none;
-ms-user-select: none;
user-select: none;
}
body,html
{
	width:100%;
	height:100%;
overflow:hidden;
	background-attachment:fixed;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 62.5%;
}

#parallaxHolder .red
{
	color:#fff;
	background:url(../image/intro_1.jpg) center center #f00;
	background-position-y: -300px;
}
#parallaxHolder .red h1
{
	width:100%;
	text-align: center;
	font-size: 62px;
	position: absolute;
	
}

#parallaxHolder .blue

{
	background:url(../image/horizontal_1.jpg) center center;
}
#cardetail
{
	position: absolute;
	background:url(../image/detail_1.jpg) center center;
	width:15%;
	height:100%;
}
#parallaxHolder .green

{
	background-color: #000;
}
#victoria
{
	position:absolute;
	background:url(../image/1.png) no-repeat center center;
	width: 520px;
	height:100%;
	top:100px;
}
#parallaxHolder .black

{
	background-color: #000;
	color:#fff;
	
}
#parallaxHolder .black h1
{
	width:100%;
	text-align: center;
	font-size: 62px;
	padding-top: 100px;
}
#parallaxHolder .purple

{
	background-color: #666;
}
.scroller
{
	border: 1px solid 000;
	background-color: #efefef;
}
.scrollerhandle
{
	border: 1px solid 000;
	background-color: #cdcdcd;
	cursor: pointer;
}
.contentHolder
{
	position: relative;
	height: 100%;
	width:100%;
}
#box
{
	position: absolute;
	width:100px;
	height:100px;
	top:50px;
	left:50px;
	background-color: #ccc;
}
